apiVersion: apps/v1
kind: Deployment
metadata:
  name: qwen3-vllm
  namespace: llm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qwen3-vllm
  template:
    metadata:
      labels:
        app: qwen3-vllm
    spec:
      tolerations:
        - key: nvidia.com/gpu
          operator: Equal
          value: "true"
          effect: NoSchedule

      containers:
        - name: vllm
          image: vllm/vllm-openai:latest
          args:
            - "Qwen/Qwen3-0.6B-FP8"
            - "--reasoning-parser"
            - "qwen3"
          env:
            - name: HF_TOKEN
              valueFrom:
                secretKeyRef:
                  name: hf-token
                  key: token
          ports:
            - containerPort: 8000
              name: http
          resources:
            limits:
              nvidia.com/gpu: "1"
              cpu: "4"
              memory: "6Gi"
            requests:
              cpu: "4"
              memory: "6Gi"
