---
apiVersion: v1
kind: Service
metadata:
  name: ministral
  namespace: llm
spec:
  selector:
    app: ministral-llama-server
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
